* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aquamarine;
    text-align: center;
}

h1 {
    font-size: 60px;
}

.elements {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 100px;
    gap: 100px;
}

.elem {
    display: grid;
    justify-content: center;
    width: 100px;
    padding: 20px;
    font-size: 30px;
    border: 1px solid #000;
    background-color: rgb(120, 238, 199);
    border-radius: 3px;
    transform: scale(1);
    transition: all 0.5s;
}

.elem:hover {
    transform: scale(1.1);
    background-color: rgb(93, 186, 155);
    cursor: pointer;
}

.score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}

.score div {
    padding-top: 30px;
}

.message {
    padding: 20px 0 100px;
    font-size: 25px;
}